# 忽略out文件夹下的所有内容
*/out/*
# 但保留文件夹结构
!*/out/.gitkeep
# 允许提交nginx日志
!*/out/*/nginx/
!*/out/*/nginx/*.log
# 允许提交attacker日志
!*/out/*/attacker/
!*/out/*/attacker/*.log
# 允许提交user日志
!*/out/*/user/
!*/out/*/user/*.log
# 排除pcap文件，因为它们太大
*/out/*/pcap/
*.pcap
